In [3]:
#Generar un archivo tipo Notebook de Python que contenga el código fuente de varios ejercicios aplicados a los conceptos vistos:
#Uso de librería pandas – leer archivo fifa_eda.csv 
import pandas as pd
df = pd.read_csv('fifa_edad.csv')
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

In [4]:
#Visualización de una muestra de 20 líneas. 
df.sample(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
12409,170072,T. Robinson,29,Jamaica,63,63,Southend United,375.0,2.0,Right,1.0,2.0,ST,2017,2020-01-01,5.750000,141.0,656.000000
9229,186725,D. Horst,32,United States,66,66,Real Salt Lake,375.0,2.0,Right,1.0,2.0,CB,2017,2021-01-01,6.333333,209.0,563.000000
7352,232376,T. Aoki,28,Japan,68,68,Urawa Red Diamonds,725.0,5.0,Right,1.0,2.0,LCM,2014,2021-01-01,5.833333,170.0,943.000000
10483,188807,K. Conboy,30,Denmark,65,65,Randers FC,400.0,3.0,Left,1.0,2.0,LB,2017,2020-01-01,6.083333,170.0,500.000000
2676,205346,R. Fredericks,25,England,73,75,West Ham United,4000.0,46.0,Right,1.0,3.0,RB,2018,2022-01-01,5.916667,163.0,7900.000000
1255,235813,R. Marin,22,Romania,76,82,Standard de Liège,10500.0,15.0,Right,1.0,4.0,CM,2017,2023-01-01,5.750000,154.0,17900.000000
17573,244551,F. Majchrowicz,18,Poland,53,65,Cracovia,80.0,1.0,Right,1.0,1.0,GK,2018,2020-01-01,6.333333,205.0,124.000000
3195,184823,Djalma,31,Angola,73,73,Alanyaspor,3500.0,13.0,Right,2.0,3.0,LM,2018,2020-01-01,5.833333,172.0,7000.000000
3639,200073,M. Kosanović,28,Serbia,72,73,Standard de Liège,2800.0,11.0,Left,1.0,2.0,CB,2016,2020-01-01,6.250000,187.0,4500.000000
5644,199169,K. Mokotjo,27,South Africa,69,70,Brentford,1200.0,19.0,Right,1.0,3.0,RDM,2017,2020-01-01,5.750000,159.0,2300.000000
17683,243386,D. Valencia,18,Chile,53,74,Universidad Católica,140.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.916667,150.0,336.000000
11992,233711,T. Oude Kotte,22,Netherlands,64,70,Excelsior,525.0,1.0,Left,1.0,2.0,CB,2018,2021-01-01,6.000000,176.0,866.000000
8316,244375,O. Andrievskyi,24,Ukraine,67,74,Dynamo Kyiv,925.0,1.0,Left,1.0,2.0,CDM,2015,2020-01-01,5.833333,161.0,2100.000000
7310,220075,M. Kanno,23,Saudi Arabia,68,74,Al Hilal,1200.0,12.0,Right,1.0,3.0,RDM,2017,2022-01-01,6.250000,157.0,2300.000000
16822,243575,J. Ball,22,England,56,64,Stevenage,130.0,2.0,Right,1.0,2.0,CM,2018,2021-01-01,6.166667,176.0,254.000000
8185,211067,D. Del Fabro,23,Italy,67,72,US Cremonese,875.0,20.0,Right,1.0,2.0,CB,2016,2019-06-30,6.166667,179.0,4585.060806
16112,243872,M. Obiero,17,England,58,73,Huddersfield Town,250.0,3.0,Right,1.0,2.0,ST,2018,2019-01-01,5.833333,150.0,631.000000
8791,244229,D. Frare,22,Italy,66,74,Cittadella,825.0,1.0,Right,1.0,2.0,CB,2018,2020-01-01,6.166667,170.0,1400.000000
9952,237574,S. Tetteh,21,Ghana,65,74,LASK Linz,850.0,7.0,Right,1.0,2.0,ST,2016,2019-06-30,5.916667,163.0,4585.060806
8654,206310,L. Azouni,24,Tunisia,67,71,KV Kortrijk,975.0,5.0,Right,1.0,2.0,RM,2017,2020-01-01,5.750000,161.0,1500.000000

In [5]:
#Generar la media, mínimo y máximo de los jugadores en total, y por país (groupby)
df.groupby('Nationality').count()['ID'].sort_values(ascending=False)[0:10]

Nationality
England        1662
Germany        1198
Spain          1072
Argentina       937
France          914
Brazil          827
Italy           702
Colombia        618
Japan           478
Netherlands     453
Name: ID, dtype: int64

In [6]:
df.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

In [7]:
df.head(2)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0

In [8]:
#Generar 2 jugadores ficticios con todos los campos del dataset y añadirlos al mismo.  Visualizarlos con .tail().  Correr nuevamente las estadísticas y compararlas.
Jugadores = [(99999, 'Beto Moran', 46, 'Argentina', 94,  94,  'FC Barcelona', 110500.0, 565.0, 'Left', 5.0, 4.0, 'RF', 2004, '2021-01-01', 5.583333, 159.0,  226500.0),
        (666666, 'Enrique Guzman', 36, 'Canada', 94,  94,  'FC Barcelona', 110500.0, 565.0, 'Left', 5.0, 4.0, 'RF', 2004, '2021-01-01', 5.583333, 159.0,  226500.0),
        ]

df_players = pd.DataFrame(Jugadores, columns=['ID','Name','Age','Nationality','Overall','Potential','Club','Value','Wage','Preferred Foot','International Reputation', 'Skill Moves','Position','Joined','Contract Valid Until','Height','Weight','Release Clause'])

In [9]:
df_players

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,99999,Beto Moran,46,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,666666,Enrique Guzman,36,Canada,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0

In [10]:
#Aca hago la concatenacion de los 2 jugadores generados en un nuevo Dataframe
df_fifa = pd.concat([df, df_players], ignore_index=True)

In [11]:
df_fifa.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0
18207,99999,Beto Moran,46,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
18208,666666,Enrique Guzman,36,Canada,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0

In [12]:
#Correr nuevamente las estadísticas y compararlas.
df_fifa.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18209.000000,18209.000000,18209.000000,18209.000000,17957.000000,18209.000000,18161.000000,18161.000000,18209.000000,18209.000000,18209.000000,18209.000000
mean,214316.904608,25.123950,66.241749,71.309792,2456.565128,9.792301,1.113650,2.361489,2016.419243,5.946731,165.978362,4609.435175
std,30162.447113,4.672944,6.914674,6.140765,5740.798375,22.754751,0.396115,0.756318,2.022277,0.220535,15.572091,10881.268359
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.000000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236530.000000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,666666.000000,46.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

In [ ]:
#Tuve que cambiar algunos paises porque la libreria pycountry no los soportaba
df_fifa['Nationality'] = df_fifa['Nationality'].replace('England', 'United Kingdom')
#df_fifa['Nationality'].replace('England', 'United Kingdom')

In [121]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Northern Ireland', 'United Kingdom')

In [46]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Korea Republic', 'Korea, Republic of')

In [62]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Central African Rep.', 'Central African Republic')

In [71]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Congo, Democratic Republic of the', 'Congo')

In [75]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Ivory Coast', 'Ghana')

In [79]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Russia', 'Russian Federation')

In [87]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Turkey', 'Türkiye')

In [94]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Cape Verde', 'Cabo Verde')

In [103]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('FYR Macedonia', 'North Macedonia')

In [111]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Guinea Bissau', 'Guinea')

In [145]:
df_fifa['Nationality'] = df_fifa['Nationality'].replace('Antigua & Barbuda', 'Antigua and Barbuda')

In [ ]:
df_fifa.drop(df_fifa[df_fifa['Nationality'] == 'St Lucia'].index, inplace=True)

In [ ]:
#df['Nationality'].unique()
#Me servia para revisar como estaba el nombre en el DataFrame
df_fifa[df_fifa['Nationality'].str.startswith('St L', na=False)]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
11032,209675,J. Donacien,24,St Lucia,64,68,Ipswich Town,500.0,1.0,Right,1.0,2.0,RB,2016,2019-06-30,6.0,165.0,4585.060806

In [182]:
#Generar una lambda que añada la zona horaria y la capital del país de nacionalidad
import pytz
import pycountry
df_fifa['Country_Code'] = df_fifa['Nationality'].apply(lambda x: pycountry.countries.lookup(x).alpha_2 if pycountry.countries.lookup(x) else None)

In [183]:
df_fifa

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Country_Code,ZonaHoraria,BalonOro
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,AR,"[America/Argentina/Buenos_Aires, America/Argen...",Candidato
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,PT,"[Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...",Candidato
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,BR,"[America/Noronha, America/Belem, America/Forta...",Candidato
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,ES,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Candidato
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,BE,[Europe/Brussels],Candidato
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,United Kingdom,47,67,Cambridge United,60.0,1.0,Right,...,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,GB,[Europe/London],Next Year
18205,246268,D. Walker-Rice,17,United Kingdom,47,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,GB,[Europe/London],Next Year
18206,246269,G. Nugent,16,United Kingdom,46,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,GB,[Europe/London],Next Year
18207,99999,Beto Moran,46,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,AR,"[America/Argentina/Buenos_Aires, America/Argen...",Candidato
18208,666666,Enrique Guzman,36,Canada,94,94,FC Barcelona,110500.0,565.0,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,CA,"[America/St_Johns, America/Halifax, America/Gl...",Candidato

In [164]:
#Agrego la zona Horaria
df_fifa['ZonaHoraria'] = df_fifa['Country_Code'].apply(lambda x: pytz.country_timezones[x])

In [ ]:
#Agrego la capital del pais
from countryinfo import CountryInfo
df_fifa['Capital'] = df_fifa['Country_Code'].apply(lambda x: CountryInfo(x).capital()).head(1)

In [181]:
df_fifa.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Country_Code,ZonaHoraria,BalonOro
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,AR,"[America/Argentina/Buenos_Aires, America/Argen...",Candidato
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,PT,"[Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...",Candidato
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,BR,"[America/Noronha, America/Belem, America/Forta...",Candidato
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,ES,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Candidato
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,BE,[Europe/Brussels],Candidato

In [ ]:
#Generar una lambda que en base al potencial, añada una columna “Candidato” o “Next Year”, para el premio para el balón de oro.  Jugadores con más de 85, son candidatos.
df_fifa['BalonOro'] = df_fifa['Potential'].apply(lambda x: 'Candidato' if x > 85 else 'Next Year')

In [163]:
#Asi vemos el resultado
df_fifa.sample(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Country_Code,ZonaHoraria,BalonOro
17430,238237,M. Olsen,19,Norway,54,74,Stabæk Fotball,130.0,1.0,Right,...,2.0,RB,2017,2019-01-01,5.833333,154.0,293.000000,NO,[Europe/Oslo],Next Year
1341,221016,N. Vukčević,26,Montenegro,76,79,Levante UD,8000.0,21.0,Left,...,3.0,CDM,2018,2022-01-01,6.000000,168.0,17400.000000,ME,[Europe/Podgorica],Next Year
13783,212693,T. Söderström,24,Sweden,62,67,IF Brommapojkarna,400.0,1.0,Right,...,2.0,CAM,2017,2018-01-01,6.166667,168.0,530.000000,SE,[Europe/Stockholm],Next Year
10299,231514,R. Gojani,25,Sweden,65,68,IF Elfsborg,675.0,2.0,Right,...,3.0,CM,2018,2020-01-01,5.750000,157.0,894.000000,SE,[Europe/Stockholm],Next Year
12428,242013,Carlos Cordero,21,Spain,63,72,Real Sporting de Gijón,500.0,1.0,Left,...,2.0,LB,2016,2019-01-01,5.916667,168.0,900.000000,ES,"[Europe/Madrid, Africa/Ceuta, Atlantic/Canary]",Next Year
4649,210404,S. Doukara,26,France,71,72,Antalyaspor,2800.0,13.0,Right,...,3.0,ST,2018,2020-01-01,6.083333,187.0,5900.000000,FR,[Europe/Paris],Next Year
17406,245125,P. Plewka,18,Poland,54,66,Wisła Kraków,110.0,1.0,Right,...,2.0,CDM,2017,2019-01-01,5.750000,154.0,109.000000,PL,[Europe/Warsaw],Next Year
13420,192101,M. Thorbjörnsson,30,Sweden,62,62,Dalkurd FF,230.0,1.0,Left,...,2.0,LCB,2016,2018-12-31,6.166667,176.0,4585.060806,SE,[Europe/Stockholm],Next Year
12905,226259,L. Andrenacci,23,Italy,63,68,Brescia,350.0,1.0,Right,...,1.0,GK,2014,2023-01-01,6.166667,170.0,569.000000,IT,[Europe/Rome],Next Year
9852,240625,G. Malcore,24,Italy,66,73,Cittadella,925.0,1.0,Right,...,3.0,ST,2018,2019-01-01,6.000000,174.0,1600.000000,IT,[Europe/Rome],Next Year