# Tarea M35-AD – Jose Alberto Hernandez Moran

In [1]:
import pandas as pd
import numpy as np

# 1. Importar el archivo
df = pd.read_csv('supermarket_sales.csv')

In [2]:
# Reviso los datos del archivo
df.sample(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
867,101-81-4070,C,Naypyitaw,Member,Female,Health and beauty,62.82,2,6.2820,131.9220,1/17/2019,12:36,Ewallet,125.64,4.761905,6.2820,4.9
756,785-96-0615,B,Mandalay,Member,Female,Electronic accessories,35.74,8,14.2960,300.2160,2/17/2019,15:28,Ewallet,285.92,4.761905,14.2960,4.9
826,222-42-0244,B,Mandalay,Member,Female,Health and beauty,72.11,9,32.4495,681.4395,1/28/2019,13:53,Credit card,648.99,4.761905,32.4495,7.7

In [3]:
# Convierto las columnas en arreglos
invoice_id = df['Invoice ID'].to_numpy()
branch = df['Branch'].to_numpy()
city = df['City'].to_numpy()
customer_type = df['Customer type'].to_numpy()
gender = df['Gender'].to_numpy()
product_line = df['Product line'].to_numpy()
unit_price = df['Unit price'].to_numpy()
quantity = df['Quantity'].to_numpy()
tax_5 = df['Tax 5%'].to_numpy()
total = df['Total'].to_numpy()
date = df['Date'].to_numpy()
time = df['Time'].to_numpy()
payment = df['Payment'].to_numpy()
cogs = df['cogs'].to_numpy()
gross_margin_pct = df['gross margin percentage'].to_numpy()
gross_income = df['gross income'].to_numpy()
rating = df['Rating'].to_numpy()

In [8]:
# 3: Estadística Descriptiva Básica
mean_price = np.mean(unit_price)
print(f'La media del precio de los productos es: {mean_price:.2f}')
median_price = np.median(unit_price)
print(f"La mediana del precio de los productos es: {median_price:.2f}")
vals, counts = np.unique(unit_price, return_counts=True)
index = np.argmax(counts) #El indice del precio mas contado
moda_price = vals[index]
print(f"La moda de los precios es = {moda_price:.2f} ")

La media del precio de los productos es: 55.67
La mediana del precio de los productos es: 55.23
La moda de los precios es = 83.77

In [10]:
mean_quantity = np.mean(quantity)
print(f'La media de la cantidad de productos vendidos es: {mean_quantity:.2f}')
median_quantity = np.median(quantity)
print(f"La mediana de la cantidad de productos vendidos es: {median_quantity:.2f}")
vals, counts = np.unique(quantity, return_counts=True)
index = np.argmax(counts) #El indice del precio mas contado
moda_quantity = vals[index]
print(f"La moda de la cantidad de productos vendidos es = {moda_quantity:.2f} ")

La media de la cantidad de productos vendidos es: 5.51
La mediana de la cantidad de productos vendidos es: 5.00
La moda de la cantidad de productos vendidos es = 10.00