In [2]:
numeros = [6, 5, 3 , 8, 4, 2, 5, 4, 11]
suma = 0

for valor in numeros:
    suma = suma + valor

print("La suma es", suma)

La suma es 48

In [3]:
numeros = [6, 5, 3 , 8, 4, 2, 5, 4, 11]
suma = 0

for valor in numeros:
    suma = suma + valor

print(f"La suma es {suma}")

La suma es 48

In [4]:
frutas = ['Manzana', 'Fresa', 'Cereza']
for fruta in frutas:
    print(f"La fruta es {fruta}")

La fruta es Manzana
La fruta es Fresa
La fruta es Cereza

In [5]:
for letra in "Platano":
    print(letra)

P
l
a
t
a
n
o

In [6]:
total = 0
for i in 5, 7, 11, 13:
    print (i)
    total += i  #Eso es lo mismo que suma = suma + i
print("Total: ", total)

5
7
11
13
Total:  36

In [1]:
for x in range(6): # no se cuenta el numero superior porque empieza en Cero
    print(x)

0
1
2
3
4
5

In [2]:
for x in range(2,10, 3): #el 3 indica que se vaya moviendo de 3 en 3
    print(x)

2
5
8

In [3]:
# Sentencia el se procesa despues de que el ciclo se ha terminado
for x in range(6):
    print(x)
else:
    print("Proceso terminado")

0
1
2
3
4
5
Proceso terminado

In [7]:
valor_mayor = -1
lista = [9,41,12,3,74,15]
for x in lista:
    if x > valor_mayor:
        valor_mayor = x
print(f"EL valor mas grande es, {valor_mayor}")

EL valor mas grande es, 74

In [8]:
frutas = ['Manzana', 'Fresa', 'Cereza']
for fruta in frutas:
    print(fruta)
    if fruta == "Fresa":
        break

Manzana
Fresa

In [10]:
nombre = input("Nombre del estudiante: ")
datos = {'Jose': 85, "Angela": 92, 'Miguel': 75, 'Ana': 98}
for estudiante in datos:
    if estudiante == nombre:
        print("Calificacion: ", datos[estudiante])
        break
else: 
    print("No se encontro al estudiante solicitado")

Nombre del estudiante:  Jose

Calificacion:  85

In [11]:
#Ciclo anidado
frutas = ['Manzana', 'Fresa', 'Cereza']
adjetivo = ['Grande', 'Roja', 'Deliciosa']
for fruta in frutas:
    for caracteristica in adjetivo:
        print(fruta, caracteristica)

Manzana Grande
Manzana Roja
Manzana Deliciosa
Fresa Grande
Fresa Roja
Fresa Deliciosa
Cereza Grande
Cereza Roja
Cereza Deliciosa

In [13]:
#Para recorrer a la inversa
numeros = [10,20,30,40]
for numero in reversed(numeros):
    print(numero)

40
30
20
10

In [17]:
#Ejercicio de las tablas de multiplicar
tablas = int(input("Cuantas tablas quieres calcular:"))
for i in range(1, tablas + 1):
    print(f"La tabla de multiplicar del {i}")
    contador = 1
    while contador < 11:
        print(i * contador, end = ' ') #Con la instruccion end lo que le estoy diciendo es que me imprima un espacio al final
        contador += 1
    print("\n")

Cuantas tablas quieres calcular: 10

La tabla de multiplicar del 1
1 2 3 4 5 6 7 8 9 10

La tabla de multiplicar del 2
2 4 6 8 10 12 14 16 18 20

La tabla de multiplicar del 3
3 6 9 12 15 18 21 24 27 30

La tabla de multiplicar del 4
4 8 12 16 20 24 28 32 36 40

La tabla de multiplicar del 5
5 10 15 20 25 30 35 40 45 50

La tabla de multiplicar del 6
6 12 18 24 30 36 42 48 54 60

La tabla de multiplicar del 7
7 14 21 28 35 42 49 56 63 70

La tabla de multiplicar del 8
8 16 24 32 40 48 56 64 72 80

La tabla de multiplicar del 9
9 18 27 36 45 54 63 72 81 90

La tabla de multiplicar del 10
10 20 30 40 50 60 70 80 90 100