In [56]:
import pandas as pd
df = pd.read_csv("iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [57]:
#Se filtra el DataFrame cuando el valor sea mayor a 3.5
df_filtrado = df[(df["sepal.width"] >= 3.5) & (df["sepal.length"] > 5)]
df_filtrado

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
10            5.4          3.7           1.5          0.2     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
21            5.1          3.7           1.5          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
32            5.2          4.1           1.5          0.1     Setosa
33            5.5          4.2           1.4          0.2     Setosa
36            5.5          3.5           1.3          0.2     Setosa
44            5.1          3.8           1.9          0.4     Setosa
46            5.1          3.8           1.6          0.2     Setosa
48            5.3          3.7           1.5          0.2     Setosa
109           7.2          3.6           6.1          2.5  Virginica
117           7.7          3.8           6.7          2.2  Virginica
131           7.9          3.8           6.4          2.0  Virginica

In [58]:
registros = len(df_filtrado)
registros

20

In [59]:
agregados = df_filtrado.groupby("variety")["petal.width"].agg(["mean", "median", "std"])
agregados

               mean  median       std
variety
Setosa     0.270588     0.2  0.098518
Virginica  2.233333     2.2  0.251661

In [60]:
df_final = df_filtrado.loc[:, "petal.width":"variety"]
df_final["petal.width.st"] = (df_filtrado["petal.width"] - df_filtrado["petal.width"].mean()) / df_filtrado["petal.width"].std()
df_final = df_final.loc[:, "variety":"petal.width.st"]
df_final.rename(columns = {'variety':'Variedad', 'petal.width.st':'Ancho Est. Pétalo'}, inplace = True)
df_final

#dfp["IMM"] = dfp['Peso_KG'] / (dfp['Altura_CM'] / 100) ** 2

      Variedad  Ancho Est. Pétalo
0       Setosa          -0.500485
5       Setosa          -0.226246
10      Setosa          -0.500485
14      Setosa          -0.500485
15      Setosa          -0.226246
16      Setosa          -0.226246
17      Setosa          -0.363366
18      Setosa          -0.363366
19      Setosa          -0.363366
21      Setosa          -0.226246
27      Setosa          -0.500485
32      Setosa          -0.637604
33      Setosa          -0.500485
36      Setosa          -0.500485
44      Setosa          -0.226246
46      Setosa          -0.500485
48      Setosa          -0.500485
109  Virginica           2.653254
117  Virginica           2.241897
131  Virginica           1.967659