In [5]:
import pandas as pd
df_fact = pd.read_csv('FACT_SALES.csv')
df_prod = pd.read_csv('DIM_PRODUCTOS.csv')

In [7]:
df_prod.head()

,ITEM,MANUFACTURER,BRAND,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,75000592,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,75000608,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,75000615,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,75000622,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,75000639,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

In [9]:
df_fact.head()

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
0,34-22,7501058792808BP2,0.006,0.139,1.000,TOTAL AUTOS AREA 5
1,34-22,7501058715883,0.487,116.519,2.916,TOTAL AUTOS AREA 5
2,34-22,7702626213774,1.391,68.453,5.171,TOTAL AUTOS AREA 5
3,34-22,7501058716422,0.022,1.481,1.833,TOTAL AUTOS AREA 5
4,34-22,7501058784353,2.037,182.839,5.375,TOTAL AUTOS AREA 5

In [11]:
#Asi se renombra la columna
df_prod = df_prod.rename(columns={'ITEM': 'ITEM_CODE'})

In [13]:
df_prod.head()

,ITEM_CODE,MANUFACTURER,BRAND,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,75000592,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,75000608,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,75000615,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,75000622,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,75000639,INDS. ALEN,CLORALEX,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

In [15]:
df_unido = pd.merge(df_fact, df_prod, on="ITEM_CODE")
df_unido.head()

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,MANUFACTURER,BRAND,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,34-22,7501058792808BP2,0.006,0.139,1.000,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISHOXIACTIONROSADOYPACK120GR+MMCRYSTALWHITE...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
1,34-22,7501058794963BP1,0.004,0.553,1.000,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISHOXIACTIONGOLDROSABOT900GR+MMCRYSTALWHITE...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
2,34-22,7501058792778BP1,0.001,0.128,1.000,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISHOXIACTIONROSABOTE900GR+MMCRYSTALWHITEDOY...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
3,34-22,7702626204208BP1,2.188,23.792,17.934,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISH PODER 02 INTELIGENCE SIN CLORO SOBRE 30...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
4,12-22,7501681100650BP1,0.120,1.624,7.059,TOTAL AUTOS AREA 3,JABONERA LA ESPUMA,BANDERA,B'CLORHADA CLORO+DET MASCOT BOT 1 L+MM BLANQ C...,1,LIQUIDO,CLORO,CLORO,MASCOTAS

In [27]:
# Aplicar función para remover ITEM_CODE de DESCRIPCION
def remover_item_code(row):
    return row['ITEM_DESCRIPTION'].replace(row['ITEM_CODE'], '').strip()

df_unido['ITEM_DESCRIPTION'] = df_unido.apply(remover_item_code, axis=1)

In [33]:
df_unido.iloc[0,8]

'VANISHOXIACTIONROSADOYPACK120GR+MMCRYSTALWHITEBOTE900GRPVP'

In [35]:
df_unido

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,MANUFACTURER,BRAND,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,34-22,7501058792808BP2,0.006,0.139,1.000,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISHOXIACTIONROSADOYPACK120GR+MMCRYSTALWHITE...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
1,34-22,7501058794963BP1,0.004,0.553,1.000,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISHOXIACTIONGOLDROSABOT900GR+MMCRYSTALWHITE...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
2,34-22,7501058792778BP1,0.001,0.128,1.000,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISHOXIACTIONROSABOTE900GR+MMCRYSTALWHITEDOY...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
3,34-22,7702626204208BP1,2.188,23.792,17.934,TOTAL AUTOS AREA 5,RECKITT,VANISH,VANISH PODER 02 INTELIGENCE SIN CLORO SOBRE 30...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
4,12-22,7501681100650BP1,0.120,1.624,7.059,TOTAL AUTOS AREA 3,JABONERA LA ESPUMA,BANDERA,B'CLORHADA CLORO+DET MASCOT BOT 1 L+MM BLANQ C...,1,LIQUIDO,CLORO,CLORO,MASCOTAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9188,26-23,7501058794956BP2,0.015,0.336,2.143,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH GEL ROSA POUCH 650ML + MM CRYSTAL WHITE...,1,GEL,SAFE BLEACH,FABRIC TREATMENT,ROSA
9189,26-23,7501058796578BP1,0.359,19.816,2.584,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH GEL MULTIUSO BOT 925ML+MM CRYSTAL WHITE...,1,GEL,SAFE BLEACH,FABRIC TREATMENT,ROSA
9190,26-23,7501058792808BP2,1.232,25.128,4.448,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISHOXIACTIONROSADOYPACK120GR+MMCRYSTALWHITE...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
9191,26-23,7501058792778BP1,1.192,150.829,4.000,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISHOXIACTIONROSABOTE900GR+MMCRYSTALWHITEDOY...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA
9192,26-23,7702626204208BP1,21.152,210.276,22.172,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,VANISH PODER 02 INTELIGENCE SIN CLORO SOBRE 30...,1,POLVO,SAFE BLEACH,FABRIC TREATMENT,ROSA

In [37]:
#Escribir el contenido del DataFrame a un CSV
df_unido.to_csv('Todo_unido.csv', index = False)