In [2]:
import pandas as pd
dfp = pd.DataFrame([['Bella','Labrador','Cafe', 56, 24, '2013-07-01'], ['Charlie','Poodle','Negro', 43, 24, '2016-09-16'], ['Lucy','Chow Chow','Café', 46, 24, '2014-08-35'], ['Cooper','Schnauzer','Gris', 49, 17, '2011-12-11'], ['Bernie','San Bernardo','Blanco', 77, 74, '2018-02-27'], ['Max','Chow Chow','Blanco', 45, 28, '2019-03-27'], ['Reed','Schnauzer','Negro', 45, 15, '2017-09-18']], index = [0, 1, 2, 3, 4, 5, 6], columns = ["Nombre", "Raza", "Color", "Altura_CM", "Peso_KG", "Fecha_Nac"])
dfp

    Nombre          Raza   Color  Altura_CM  Peso_KG   Fecha_Nac
0    Bella      Labrador    Cafe         56       24  2013-07-01
1  Charlie        Poodle   Negro         43       24  2016-09-16
2     Lucy     Chow Chow    Café         46       24  2014-08-35
3   Cooper     Schnauzer    Gris         49       17  2011-12-11
4   Bernie  San Bernardo  Blanco         77       74  2018-02-27
5      Max     Chow Chow  Blanco         45       28  2019-03-27
6     Reed     Schnauzer   Negro         45       15  2017-09-18

In [13]:
# Calcular la media de los pesos con el varlor redondeado a 2
dfp['Peso_KG'].mean().round(2)

29.43

In [15]:
#Cual es la fecha mas antigua
dfp['Fecha_Nac'].min()

'2011-12-11'

In [6]:
#función de agregacion estadistica
def percentil80(columna):
    return columna.quantile(0.80)

dfp['Altura_CM'].agg(percentil80)

np.float64(54.60000000000001)

In [4]:
#Agrupacion estadistica de varias columnas
dfp[['Altura_CM', 'Peso_KG']].agg(percentil80)

Altura_CM    54.6
Peso_KG      27.2
dtype: float64

In [11]:
#función de agregacion estadistica con percentil 90
def percentil90(columna):
    return columna.quantile(0.90)

# Se pueden hacer 2 funciones de agregacion en una sola linea 
dfp['Altura_CM'].agg(percentil90)

np.float64(64.4)

In [12]:
dfp['Altura_CM']

0    56
1    43
2    46
3    49
4    77
5    45
6    45
Name: Altura_CM, dtype: int64

In [14]:
#Funcion de suma acumulativa
dfp['Altura_CM'].cumsum()

0     56
1     99
2    145
3    194
4    271
5    316
6    361
Name: Altura_CM, dtype: int64

In [15]:
#Funcion para toma el minimo de los valores 
dfp['Altura_CM'].cummin()

0    56
1    43
2    43
3    43
4    43
5    43
6    43
Name: Altura_CM, dtype: int64

In [16]:
#Conteo por columna en este caso se va a sacar el conteo por raza
dfp['Raza'].value_counts()

Raza
Chow Chow       2
Schnauzer       2
Labrador        1
Poodle          1
San Bernardo    1
Name: count, dtype: int64

In [19]:
#A la funcion count se le puede agregar la frecuencia relativa de los valores (% de aparicion por valor)
dfp['Raza'].value_counts(normalize=True)

Raza
Chow Chow       0.285714
Schnauzer       0.285714
Labrador        0.142857
Poodle          0.142857
San Bernardo    0.142857
Name: proportion, dtype: float64

In [22]:
#Resumen por grupo: Mejor Opcion
dfp.groupby('Color')['Peso_KG'].mean()

Color
Blanco    51.0
Cafe      24.0
Café      24.0
Gris      17.0
Negro     19.5
Name: Peso_KG, dtype: float64

In [24]:
#Agrupacion por color en base a diversas estadisticas
dfp.groupby('Color')['Peso_KG'].agg([min, max, sum])

C:\Users\Beto\AppData\Local\Temp\ipykernel_26616\1408685371.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  dfp.groupby('Color')['Peso_KG'].agg([min, max, sum])
C:\Users\Beto\AppData\Local\Temp\ipykernel_26616\1408685371.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  dfp.groupby('Color')['Peso_KG'].agg([min, max, sum])
C:\Users\Beto\AppData\Local\Temp\ipykernel_26616\1408685371.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dfp.groupby('Color')['Peso_KG'].agg([min, max, sum])

        min  max  sum
Color
Blanco   28   74  102
Cafe     24   24   24
Café     24   24   24
Gris     17   17   17
Negro    15   24   39

In [25]:
#Agrupacion por color y raza en base a la media del peso
dfp.groupby(['Color', 'Raza'])['Peso_KG'].mean()

Color   Raza
Blanco  Chow Chow       28.0
        San Bernardo    74.0
Cafe    Labrador        24.0
Café    Chow Chow       24.0
Gris    Schnauzer       17.0
Negro   Poodle          24.0
        Schnauzer       15.0
Name: Peso_KG, dtype: float64